/* ----------------------------------------------------

Variables

----------------------------------------------------- */


@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('../fonts/BLOKKNeue-Regular.woff') format('woff'),
    url('../fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
 }

:root {
  --base-unit: 8px;
  --borderRadius: var(--base-unit);

  --monoBlack: rgba(14,19,24,1);
  --monoBlackA100: rgba(14,19,24,0.7);
  --monoBlackA150: rgba(14,19,24,0.6);
  --monoBlackA275: rgba(14,19,24,0.25);
  --monoBlackA300: rgba(14,19,24,0.2);
  --monoBlackA400: rgba(14,19,24,0.15);
  --monoBlackA500: rgba(14,19,24,0.07);
  --monoBlackA600: rgba(14,19,24,0.02);

  --monoGreyLight: rgba(237,240,242,1);

  --colorPurple: rgba(125,42,232,1);

  --faintShadow: 0px 2px 8px var(--monoBlackA400), 0px 0px 0px 1px var(--monoBlackA600);
  --mediumShadow: 0px 2px 12px var(--monoBlackA300), 0px 0px 0px 1px var(--monoBlackA600);
  --heavyShadow: 0px 2px 18px var(--monoBlackA275), 0px 0px 0px 1px var(--monoBlackA600);

  --fontFamily: 'Open Sans', sans-serif;
  --fontWireframe: 'BLOKKNeue-Regular', sans-serif;

  --dropdownMenuWidth:160px;
  --dropdownMenuImageHeight:120px;
  --dropdownSpacing: 16px;
  --dropdownMenuFontSize:14px;
  --menuHeaderHeight: 96px;
  --hoverColor: rgba(64,87,109,.07);
}


/* ----------------------------------------------------

Style selector

----------------------------------------------------- */

.styleControl{
  position: fixed;
  bottom: calc(var(--base-unit)*1);
  right:calc(var(--base-unit)*1);
  box-shadow: var(--mediumShadow);
  border-radius: var(--borderRadius);
  padding: calc(var(--base-unit)*2);
  background-color: #fff;
}

h2{
  color:var(--monoBlack);
  margin-bottom: calc(var(--base-unit)*2);
  font-size: 18px;
}


h3{
  color:var(--monoBlack);
  margin-bottom: calc(var(--base-unit)*1);
  font-size: 14px;
}

select{
  height: 32px;
  background-color: var(--monoBlackA500);
  border-radius: var(--borderRadius);
  color: var(--monoBlack);
  border:0;
  width: 140px;
  padding: 0 calc(var(--base-unit)*1);
  font-family: var(--fontFamily);
  background-position: left 8px center;
  background-size: calc(var(--base-unit)*3);
  margin-bottom: calc(var(--base-unit)*1);
  display: block;
}


.styleControl_column{
  float: left;
  margin-right: calc(var(--base-unit)*2);
}

.styleControl_column:last-child{
  margin-right:0;
}

.styleControl label{
  font-size: 12px;
  font-weight: 700;
  display: block;
  color: var(--monoBlack);
  margin-bottom: calc(var(--base-unit)/2);
}

.reset{
  position: absolute;
  top:calc(var(--base-unit)*2);
  right: calc(var(--base-unit)*2);
}

.reset a{
  color: rgba(255,255,255,0.6);
  cursor: pointer;
}

.reset a:hover{
  color: rgba(255,255,255,1);
}


[data-menu-font-size="12"] {
  --dropdownMenuFontSize:12px;
}

[data-menu-font-size="14"] {
  --dropdownMenuFontSize:14px;
}

[data-menu-spacing="16"] {
  --dropdownSpacing: 16px;
}

[data-menu-spacing="24"] {
  --dropdownSpacing: 24px;
}

[data-thumbnail-height="64"] {
  --menuHeaderHeight: 64px;
}


[data-thumbnail-height="96"] {
  --menuHeaderHeight: 96px;
}

[data-thumbnail-height="110"] {
  --menuHeaderHeight: 110px;
}

/* ----------------------------------------------------

Global

----------------------------------------------------- */

*{
  box-sizing: border-box;
}

body{
  font-family: var(--fontFamily);
  font-size: 14px;
  line-height: 1.6;
  padding-top: 72px;
}

img{
  max-width: 100%;
}


/* ---------------------------------------------------- 

Header

----------------------------------------------------- */

header{
  margin: auto;
  padding: var(--base-unit) calc(var(--base-unit)*4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px var(--monoBlackA500);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.header_left{
 display: flex;
 align-items: center;
}

.header_right{
 display: flex;
 align-items: center;
 flex-grow: 1;
}

.header_right_left{
  position: relative;
  height: 40px;
  margin: 0 calc(var(--base-unit)*2) 0 calc(var(--base-unit)*4) ;
  display: flex;
  flex-grow: 1;
}

[data-search-width="search-set-width"] .header_right{
 flex-grow: initial;
}

[data-search-width="search-set-width"] .header_right_left{
  width: 340px;
  margin-right: calc(var(--base-unit)*2);

}

[data-search-width="search-set-width"] .header_middle{
   width: 300px;
}

#logo{
  float: left;
  width: 56px;
  height: 56px;
  margin-right:12px;
}

.header_icon{
  margin-right: calc(var(--base-unit)*2);
  width:calc(var(--base-unit)*5);
  height: calc(var(--base-unit)*5);
  cursor: pointer;
  border-radius: var(--borderRadius);
  display: flex;
  align-items:center;
  transition:  background-color .3s;
  justify-content: center;
}

.header_icon:hover{
 background-color: var(--hoverColor);
}


button{
  background-color: transparent;
  border:0;
  margin: 0;
  padding: 0;
}


.button_primary{
  background-color: var(--colorPurple);
  font-weight: 600;
  color:#fff;
  height: calc(var(--base-unit)*5);
  padding: calc(var(--base-unit)*1) calc(var(--base-unit)*2);
  border:0;
  border-radius: var(--borderRadius);
  font-family: var(--fontFamily);
  vertical-align: middle;
  min-width: calc(var(--base-unit)*12);
  cursor: pointer;
  transition: background-color .3s;
}

.button_primary:hover{
  background-color: #8d39fa;
}


.button_secondary{
  background-color: var(--monoBlackA500);
  font-weight: 600;
  color:var(--monoBlack);
  height: calc(var(--base-unit)*5);
  padding: calc(var(--base-unit)*1) calc(var(--base-unit)*2);
  border:0;
  border-radius: var(--borderRadius);
  font-family: var(--fontFamily);
  vertical-align: middle;
  min-width: calc(var(--base-unit)*12);
  margin-right:calc(var(--base-unit)*2);
  cursor: pointer;
  transition: background-color .3s;
}

.button_secondary:hover{
  background-color: var(--monoBlackA400);
}

.header-logged-out,
.header-logged-in{
  display: flex;
}

[data-user-status="logged-in"] .header-logged-out{
  display: none;
}

[data-user-status="logged-in"] .header-logged-in{
  display: flex;
}


[data-user-status="logged-out"] .header-logged-in,
.header-logged-in{
  display: none;
}


.avatar{
  display: flex;
  margin-left:calc(var(--base-unit)*2); 
  align-items: center;
  cursor: pointer;
}

.avatar:hover .dropdown_icon path{
  fill: var(--colorPurple);
}


.avatar.active .dropdown_icon{
  transform:  rotate(180deg);
}


.avatar:focus{
  outline: 0;
}

.avatar-img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right:calc(var(--base-unit)/2); 
  transition: all .3s;
  position: relative;
}

.avatar-img:after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 0px var(--colorPurple) inset;
  opacity: 0;
  transition: all .3s;
}

.avatar:hover .avatar-img:after{
  box-shadow: 0px 0px 0px 4px var(--colorPurple) inset;
  opacity: 1;
}

.avatar:hover .avatar-img{
  background-color: var(--monoBlack);
}


.avatar img{
  max-width: 100%;
  transition: all .3s;
  backface-visibility: hidden;
}


/* ----------------------------------------------------

 Profile Flyout

----------------------------------------------------- */


.profile_flyout{
  position: absolute;
  top:64px;
  right: 32px;
  width: 296px;
  background-color:#fff;
  opacity: 0;
  pointer-events: none;
  transition: .3s opacity;
  border-radius: var(--borderRadius);
  box-shadow: var(--mediumShadow);
}

.profile_flyout.active{
  opacity: 1;
  pointer-events: auto;
}

.profile-img{
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}

.profile_header{
  overflow: hidden;
  padding: var(--dropdownSpacing);
  display: flex;
  align-items: center;
}

.profile-info{
  float: left;
  margin-left: calc(var(--base-unit)*2);
}


.profile-name{
  font-size: 16px;
  font-weight: 700;
}

.profile-email{
  margin-top:calc(var(--base-unit)/2);
  color: var(--monoBlackA150);
  font-size: 12px;
  line-height: 18px;
}

.profile-section{
  border-top: 1px solid var(--monoBlackA500);
}


/* ----------------------------------------------------

 Search results

----------------------------------------------------- */
::placeholder{
  color: var(--monoBlackA150);
}

.search{
  height: 40px;
  background-color: var(--hoverColor);
  border-radius: var(--borderRadius);
  color: var(--monoBlack);
  border: 0;
  padding: var(--base-unit) 12px var(--base-unit) 40px;
  width:100%;
  font-family: var(--fontFamily);
  background-position: left 8px center;
  background-size: calc(var(--base-unit)*3);
  background-repeat: no-repeat; 
  z-index: 2;
  position: relative;
  pointer-events: auto;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='currentColor' d='M15.2 16.34a7.5 7.5 0 1 1 1.38-1.45l4.2 4.2a1 1 0 1 1-1.42 1.41l-4.16-4.16zm-4.7.16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z'/%3E%3C/svg%3E")
}

.search:focus{
  outline: none;
}

.search_container.active .search{
  background-color: #fff;
  background-color: transparent;
}

.search_container{
  position: absolute;
  pointer-events: none;
  top:0;
  left:0;
  width: 100%;
  overflow: hidden;
  transition: .0s background-color;
}

.search_container.active{
  background-color:#fff;
  border-radius: var(--borderRadius);
  box-shadow: var(--mediumShadow);
  z-index: 1;
  pointer-events: auto;
}

.search_container.active .search_results{
  opacity: 1;
}

.search_results{
  width: 100%;
  opacity: 0;
  border-top: 1px solid var(--monoBlackA500);
}


.listItem{
  list-style: none;
  padding: 0;
  z-index: 2;
  position: relative;
  margin: calc(var(--dropdownSpacing) - var(--base-unit)) 0;
}

.listItem li{

}

.listItem a{
 color: var(--monoBlack);
 text-decoration: none;
 padding: var(--base-unit) var(--dropdownSpacing);
 display: block;
 transition: background-color .2s;
 font-size: var(--dropdownMenuFontSize);
}

.listItem a:hover{
 background-color: var(--hoverColor);
}


/* ----------------------------------------------------

Navigation

----------------------------------------------------- */

#navigation ul{
  position: relative;
}

.navigationItem_top{
  float: left;
  padding-right: calc(var(--base-unit)/2);
}

.navigationItem_top:nth-last-child(2){
  padding-right:0;
}

.navigationLink{
  color:var(--monoBlack);
  text-decoration: none;
  padding: 9px 12px;
  display: block;
  position: relative;
}

.navigationLink_top{
  display: flex;
  align-items: center;
  z-index: 200; 
  text-decoration: none;
}

[data-hover-animation-opacity="on"] .navigationLink_top{
  transition: opacity .3s;
}

.dropdown_icon,
.see-all-icon{
  display: inline-block;
  width: calc(var(--base-unit)*2);
  height: calc(var(--base-unit)*2);
  margin-left: calc(var(--base-unit)/2);
  vertical-align: middle;
}

.navigationLink_background{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: -1; 
  border-radius: var(--borderRadius);
  background-color: var(--hoverColor);
  opacity: 0; 
  transition: opacity .3s;
}

body:not([data-hover-animation-translate="on"]) .navigationItem_top:hover .navigationLink_background{
  opacity: 1; 
}

.active .navigationLink_top{
  font-weight: 700;
}


body:not([data-hover-animation-translate="on"]) .active .navigationLink_background{
  opacity: 1; 
}

/*#navigation:hover .active .navigationLink_background{
  opacity: 0; 
}
*/

/*.navigationItem_top:hover .dropdown_icon{
  transform: rotate(180deg);
}

*/

#navigationLink_background_hover{
  position: absolute;
}

[data-hover-animation-translate="on"] #navigationLink_background_hover{
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 40px;
  background-color: var(--hoverColor);
  z-index: 1; 
  border-radius: var(--borderRadius);
}

.navigationLink_top span:before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


/* ----------------------------------------------------

Dropdown

----------------------------------------------------- */

.dropdown{
  padding-top:calc(var(--base-unit)*1);
  position: absolute;
  top:calc(var(--base-unit)*5);
  left: 0;
  z-index: 1;
  pointer-events: none;
}


.dropdown-inner{
  background-color: #fff;
  border-radius: var(--borderRadius);
  padding: var(--dropdownSpacing);
  box-shadow: var(--mediumShadow);
  display: flex;
  opacity: 0;
  pointer-events: none;
}

body:not([data-dropdown-animation="on"]) .navigationItem_top:hover .dropdown{
  pointer-events: auto;
}

body:not([data-dropdown-animation="on"]) .navigationItem_top:hover .dropdown-inner{
  opacity: 1;
  transition: all 0s 0s;
  pointer-events: auto;
  visibility: visible;
}

[data-dropdown-animation="on"] .dropdown-inner{
  background-color: transparent;
  box-shadow: 0px 0px 0px var(--monoBlackA500);
  border: none;
}

[data-hover-animation-opacity="on"] #navigation:hover .navigationLink_top{
  opacity: 0.45;
}

[data-hover-animation-opacity="on"] .navigationLink_top:hover,
[data-hover-animation-opacity="on"] .navigationItem_top:hover .navigationLink_top{
  opacity: 1!important;
}


/* ----------------------------------------------------

Dropdown animation

-------------------------------------------------------- */

[data-dropdown-animation="on"] #navigation{
  position: relative;
}

[data-dropdown-animation="on"] #dropdownBackground{
  position: absolute;
}

#dropdownBackground{
  background-color: #fff;
  box-shadow: 0px 2px 8px var(--monoBlackA500);
  position: absolute;
  border-radius: var(--borderRadius);
  border: 1px solid var(--monoBlackA500);
  margin-top: 8px;
  visibility: hidden;
  top:40px;  
  transition: width 0s 0s, height 0s 0s;
}

.menuOpened  #dropdownBackground{
  visibility: visible;
}

.hover-in-left .dropdown-inner{
  pointer-events: none;
  animation:  menuAppearRightToLeft .25s 0s both;
}

.hover-out-left .dropdown-inner{
  pointer-events: none;
  animation:  menuDisappearLeftToRight .25s both;
}

.hover-in-right .dropdown-inner{
  pointer-events: none;
  animation:  menuAppearLeftToRight .25s 0s both;
}

.hover-out-right .dropdown-inner{
  pointer-events: none;
  animation:  menuDisappearRightToLeft .25s both;
  transform-origin: 0 100%;
}

.hover-in-top .dropdown-inner{
  pointer-events: none;
  animation:  menuAppearLeftToRight .25s 0s both;
}

.hover-out-top .dropdown-inner{
  pointer-events: none;
  animation:  menuDisappearRightToLeft .25s both;
}

.hover-in-bottom .dropdown-inner{
  pointer-events: none;
  animation:  menuAppearLeftToRight .25s 0s both;
}

.hover-out-bottom .dropdown-inner{
  pointer-events: none;
  animation:  menuDisappearRightToLeft .25s both;
}

@keyframes menuAppearLeftToRight {
  0%   { 
    opacity: 0;
    transform: translateX(-100px);
  }
  100% { 
    opacity: 1; 
    transform: translateX(0px);
  }
}

@keyframes menuAppearRightToLeft {
  0%   { 
    opacity: 0;
    transform: translateX(100px);
  }
  100% { 
    opacity: 1; 
    transform: translateX(0px);
  }
}



@keyframes menuDisappearLeftToRight {
  0%   { 
    opacity: 1;
    transform: translateX(0px);
  }
  100% { 
    opacity: 0; 
    transform: translateX(100px);
  }
}


@keyframes menuDisappearRightToLeft {
  0%   { 
    opacity: 1;
    transform: translateX(0px);
  }
  100% { 
    opacity: 0; 
    transform: translateX(-100px);
  }
}


/* ----------------------------------------------------

Dropdown menu items

----------------------------------------------------- */

.dropdowmMenu{
  width: var(--dropdownMenuWidth);
  margin-right: var(--dropdownSpacing);
}

.dropdowmMenu:last-child{
  margin-right:0;
}

.dropdowmMenu_header{
  text-decoration: none;
  position: relative;
  display: block;
  padding-top:var(--menuHeaderHeight);

}

[data-thumbnail-style="overlay"] .dropdowmMenu_header{
  margin-bottom: var(--base-unit);
}

.dropdowmMenu_img{
  border-radius: var(--borderRadius);
  display: flex;
  overflow: hidden;
  height: var(--dropdownMenuImageHeight);
  position: absolute;
  top:0;
  height: var(--menuHeaderHeight);
  width: 100%;
}

[data-thumbnail-style="overlay"] .dropdowmMenu_img{
  background-color: var(--monoBlack);
}

.dropdowmMenu_img img{
  max-width: 100%;
  transition: all .3s;
  object-fit: cover;
}

[data-thumbnail-style="overlay"] .dropdowmMenu_img img{
  opacity: 0.45;
  width: 100%;
  height: 100%;
}

.dropdowmMenu_img:hover img{
  transform: scale(1.1);
}

[data-thumbnail-style="overlay"] .dropdowmMenu_img:hover img{
  opacity: 0.3;
}

.dropdowmMenu_link,
.dropdowmMenu_heading_link{
  text-decoration: none;
  padding: 5px var(--base-unit) ;
  position: relative;
  z-index: 1;
  width: calc(100% + var(--base-unit));
  white-space: nowrap;
  border-radius: var(--borderRadius);  
  overflow: hidden;
  left: calc(var(--base-unit)*-1);
  text-overflow: ellipsis;
  transition: 0.2s background-color;
  display: block;
}

.dropdowmMenu_link:hover,
.dropdowmMenu_heading_link:hover{
  background-color: var(--hoverColor);
  color:var(--monoBlack);
}


[data-thumbnail-style="overlay"] .dropdowmMenu_heading_link:hover{
  background-color: transparent;
}


.dropdowmMenu_heading_link{
  color: var(--monoBlack);
  font-weight: 700;
  margin-top: var(--base-unit);
  display: flex;
  align-items: center;
}

[data-thumbnail-style="overlay"] .dropdowmMenu_heading_link{
  color: #fff;
  margin: 0;
}

[data-thumbnail-style="overlay"] .dropdowmMenu_heading_link{
  position: absolute;
  top:50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: auto;
  overflow: visible;
  border-radius: 0;  
  padding: 0;
  pointer-events: none;
}

.dropdowmMenu_link{
  color: var(--monoBlackA100);
  font-size: var(--dropdownMenuFontSize);
}

.dropdowmMenu_desc{
  color: var(--monoBlackA100);
  margin-top:calc(var(--base-unit)/2);
  font-size: var(--dropdownMenuFontSize);
}


/* ----------------------------------------------------

Content

-------------------------------------------------------- */

.content{
  max-width: 1440px;
  margin: auto;
  padding: calc(var(--base-unit)*4);
}

.banner{
  height: 344px;
  border-radius: var(--borderRadius);  
  background-color: var(--monoGreyLight);
  width: 100%;
  padding: calc(var(--base-unit)*6);
  display: flex;          
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
}

h1{
  font-size: 48px;
  text-align: center;
}

.content-text{
  margin-top:  calc(var(--base-unit)*4);
  font-family: var(--fontWireframe);
  font-size: 24px;
  color:var(--monoGreyLight);
}


.content-text p{column-count: 3;}
